<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHreFQnj8xBZsKj8ToIYM2Jr4i_FAQGLI</string>
	<key>GCM_SENDER_ID</key>
	<string>293666456152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learnapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-realproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-realproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293666456152:ios:ceea3a45fee4a9d4ae802d</string>
</dict>
</plist>